<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race Game</title>
</head>
<body>
    <form action="start" method="post">
        <label for="name"> Do u ready?</label> <br>
        <input type="text" id="name" name="name"><br>
        <button type="submit"> Yes </button>
        <button type="submit"> No </button>
    </form>
</body>
</html>